[submodule "submodules/unittestlib"]
	path = submodules/unittestlib
	url = https://github.com/SeverinDenisenko/unittestlib
[submodule "submodules/andreasbuhr-cppcoro"]
	path = submodules/andreasbuhr-cppcoro
	url = https://github.com/hghpublic/andreasbuhr-cppcoro.git
