[submodule "submodules/cooperativelib"]
	path = submodules/cooperativelib
	url = https://github.com/SeverinDenisenko/cooperativelib.git
[submodule "submodules/unittestlib"]
	path = submodules/unittestlib
	url = https://github.com/SeverinDenisenko/unittestlib
